atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/compile-cache

sublime-text/User/Package\ Control.sublime-settings
sublime-text/User/Package Control.last-run

