atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/compile-cache

sublime-text/Packages/User/Package Control.cache/
sublime-text/Packages/User/Package Control.last-run
sublime-text/**/.git/
